---
---
<div class="prose max-w-none prose-hr:border-gray-400 prose-hr:m-8 prose-li:m-0 prose-a:hover:text-blue-700 prose-code:bg-gray-100 prose-code:p-1 prose-code:rounded prose-code:before:content-none prose-code:after:content-none prose-strong:text-red-700">
  <slot />
</div>
